// Global branded styling. App specific styling should NOT go in this file

body .p-card {
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.1);
  .p-card-footer {
    margin: -1rem;
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
  }
}
