body .p-dynamicdialog {
  .p-dialog-content {
    padding-top: 2em;
    p {
      margin-bottom: 1rem;
    }
  }
  .p-dialog-footer {
    margin-left: -1em;
    margin-right: -1em;
    margin-bottom: -0.571em;
    margin-top: 2em;
    border: 0;
    border-top: 1px solid #c8c8c8;
  }
}
