:host {
  display: block;
}
::ng-deep {
  .p-inputtext {
    padding: 0.1rem 0.429rem;
  }
}

.strategy {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: green;
  &.defect {
    background: red;
  }
}
