<app-masterpage>
  <div class="container-fluid">
    <div class="settings">
      <form [formGroup]="settingsForm">
        <div class="row">
          <div class="col col-12 col-md-4 mb-3">
            <div class="card">
              <div class="card-header">
                <strong>Strategies</strong>
              </div>
              <div class="p-3">
                <div formArrayName="strategySelection">
                  <div
                    class="d-flex"
                    style="min-height: 2rem; align-content: flex-start; flex-wrap: wrap"
                    *ngFor="let strategyGroup of strategySelection.controls; let i = index"
                    [formGroupName]="i"
                  >
                    <!-- Checkbox with Label -->
                    <label class="me-2" style="min-width: 200px">
                      <p-checkbox formControlName="enabled" [binary]="true"></p-checkbox>
                      {{ strategies[i].name }} <app-icons class="icon" icon="pi-question-circle" [title]="strategies[i].description"></app-icons>
                    </label>

                    <!-- Number Input, only shown when checkbox is enabled -->
                    <input type="number" style="width: 50px" pInputText formControlName="count" *ngIf="strategyGroup.get('enabled')?.value" />
                  </div>
                </div>

                <hr />
                <p class="mt-3">
                  <label class="me-2" style="min-width: 200px">
                    <p-checkbox formControlName="playAgainstSelf" [binary]="true"></p-checkbox>
                    Play against self
                  </label>
                  <small><em>Have each strategy play against itself</em></small>
                </p>
              </div>
            </div>
          </div>
          <div class="col col-12 col-md-4 mb-3">
            <div class="card">
              <div class="card-header">
                <strong>Game Settings</strong>
              </div>
              <div class="p-3">
                <p>
                  # Of Games<br />
                  <input pInputText type="number" class="p-input w-100" formControlName="gamesCount" />
                </p>
                <p>
                  Rounds per game<br />
                  <input pInputText type="number" class="p-input w-100" formControlName="roundsPerGame" />
                </p>
                <p>
                  Add up to this many random rounds<br />
                  <input pInputText type="number" class="p-input w-100" formControlName="randomRounds" />
                </p>
                <p>
                  Noise<br />
                  <input pInputText type="number" class="p-input" formControlName="noise" />%<br />
                  <small><em>Randomly flip results this % of time</em></small>
                </p>
              </div>
            </div>
          </div>
          <div class="col col-12 col-md-4 mb-3">
            <div class="card">
              <div class="card-header">
                <strong>Scoring</strong>
              </div>
              <div class="p-3">
                <p>
                  Score for mutual cooperation<br />
                  <input pInputText type="number" class="p-input w-100" formControlName="pointsForBothCoop" />
                </p>
                <p>
                  Score for mutual defection<br />
                  <input pInputText type="number" class="p-input w-100" formControlName="pointsForBothDefect" />
                </p>
                <div class="mb-3">
                  Scores for single defection<br />
                  <div class="d-inline-block" style="min-width: 100px">Defector:</div>
                  <input pInputText type="number" class="p-input" formControlName="pointsForOneDefect" class="mb-2" /><br />
                  <div class="d-inline-block" style="min-width: 100px">Cooperator:</div>
                  <input pInputText type="number" class="p-input" formControlName="pointsForOneCoop" /><br />
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="text-end"><button pButton (click)="startGame()">Run Game</button></div>
    <div class="scoring" *ngIf="scoring$ | async as scoring">
      <h2>Scoring</h2>
      <p-accordion [activeIndex]="[0]" [multiple]="true">
        @for (score of scoring; track $index) {
        <p-accordionTab>
          <ng-template pTemplate="header"> {{ score.label }} ({{ score.finalScore | number }}) </ng-template>

          <div>
            <table class="table table-sm table-striped mb-0">
              <tbody>
                @for (game of score.opponents; track $index) {
                <tr>
                  <td class="highlight" width="200px">{{ game.label }}</td>
                  <td class="highlight" width="50px">{{ game.myScore }}</td>
                  <td width="50px">{{ game.opponentScore }}</td>
                  <td
                    width="50px"
                    class="scores"
                    [ngClass]="{
                      winner: game.spread >= 0
                    }"
                  >
                    {{ game.spread }}
                  </td>
                  <td>
                    <div style="display: flex; flex-direction: column">
                      <div class="strategies me">
                        @for (round of game.playerHistory[0]; track $index) { @if($index < 100){
                        <div
                          class="strategy"
                          [ngClass]="{
                            defect: round === decision.defect
                          }"
                        ></div>
                        } }
                      </div>
                      <div class="strategies opponent">
                        @for (round of game.playerHistory[1]; track $index) { @if($index < 100){
                        <div
                          class="strategy"
                          [ngClass]="{
                            defect: round === decision.defect
                          }"
                        ></div>
                        } }
                      </div>
                    </div>
                  </td>
                </tr>
                }
              </tbody>
            </table>
          </div>
        </p-accordionTab>
        }
      </p-accordion>
    </div>
    <!--
    <div class="results">
      <div class="playerA">

        <div
          class="strategy"
          [ngClass]="{
            defect: result === strategy.defect
          }"
          *ngFor="let result of gameState.playerHistory[0]"
        ></div>
      </div>
      <div class="playerB">
        <div
          class="strategy"
          [ngClass]="{
            defect: result === strategy.defect
          }"
          *ngFor="let result of gameState.playerHistory[1]"
        ></div>
      </div>
    </div>
-->
  </div>
</app-masterpage>
