<app-masterpage>
  <div class="container-fluid" *ngIf="gameState$ | async as gameState">
    <div class="settings">
      <form [formGroup]="settingsForm">
        <p>
          # Of Games<br />
          <input class="p-input" formControlName="gamesCount" />
        </p>
        <p>
          Rounds Per Game<br />
          <input class="p-input" formControlName="roundsPerGame" />
        </p>
      </form>
    </div>
    <hr />
    <button class="btn" (click)="startGame()">Run Game</button>
    <div class="results">
      <div class="playerA">
        <!-- Player 1 Results -->
        <div
          class="strategy"
          [ngClass]="{
            defect: result === strategy.defect
          }"
          *ngFor="let result of gameState.playerHistory[0]"
        ></div>
      </div>
      <div class="playerB">
        <div
          class="strategy"
          [ngClass]="{
            defect: result === strategy.defect
          }"
          *ngFor="let result of gameState.playerHistory[1]"
        ></div>
      </div>
    </div>
  </div>
</app-masterpage>
