<app-masterpage>
  <div class="container-fluid" *ngIf="gameState$ | async as gameState">
    <div class="settings">
      <form [formGroup]="settingsForm">
        <div class="row">
          <div class="col col-12 col-md-4">
            <p>
              # Of Games<br />
              <input type="number" class="p-input" formControlName="gamesCount" />
            </p>
            <p>
              Rounds Per Game<br />
              <input type="number" class="p-input" formControlName="roundsPerGame" />
            </p>
          </div>
          <div class="col col-12 col-md-4">
            <p>
              Score for mutual cooperation<br />
              <input type="number" class="p-input" formControlName="pointsForBothCoop" />
            </p>
            <p>
              Score for mutual defection<br />
              <input type="number" class="p-input" formControlName="pointsForBothDefect" />
            </p>
            <div class="mb-3">
              Scores for single defection<br />
              <div class="d-inline-block" style="min-width: 100px">Defector:</div>
              <input type="number" class="p-input" formControlName="pointsForOneDefect" /><br />
              <div class="d-inline-block" style="min-width: 100px">Coop:</div>
              <input type="number" class="p-input" formControlName="pointsForOneCoop" /><br />
            </div>
          </div>
        </div>
      </form>
    </div>
    <button class="btn" (click)="startGame()">Run Game</button>
    <hr />
    <div class="scoring" *ngIf="scoring$ | async as scoring">
      <h2>Scoring</h2>
      <p-accordion [multiple]="true">
        @for (score of scoring; track $index) {
        <p-accordionTab>
          <ng-template pTemplate="header"> {{ score.label }} ({{ score.finalScore }}) </ng-template>

          <div>
            <table class="table table-sm table-striped mb-0" style="width: initial">
              <tbody>
                @for (game of score.opponents; track $index) {
                <tr>
                  <!--
                  <td width="200px">{{ score.label }}</td>
                  <td width="50px">{{ game.opponentScore }}</td>
                  <td width="50px">vs</td>
                  -->
                  <td width="200px">{{ game.label }}</td>
                  <td width="50px">{{ game.myScore }}</td>
                  <td width="50px">{{ game.opponentScore }}</td>
                </tr>
                }
              </tbody>
            </table>
          </div>
        </p-accordionTab>
        }
      </p-accordion>
    </div>
    <!--
    <div class="results">
      <div class="playerA">

        <div
          class="strategy"
          [ngClass]="{
            defect: result === strategy.defect
          }"
          *ngFor="let result of gameState.playerHistory[0]"
        ></div>
      </div>
      <div class="playerB">
        <div
          class="strategy"
          [ngClass]="{
            defect: result === strategy.defect
          }"
          *ngFor="let result of gameState.playerHistory[1]"
        ></div>
      </div>
    </div>
-->
  </div>
</app-masterpage>
