<app-header></app-header>

<div class="container mt-5">
  <div class="m-auto" style="max-width: 480px">
    <form [formGroup]="formMain" novalidate (ngSubmit)="onLogin()">
      <h1><app-icons icon="user"></app-icons> Please sign in</h1>
      <p-card>
        <!-- Logout and session expired messages -->
        @if (authState$ | async; as authState) { @if (authState === authStateType.sessionExpired) {
        <p-message severity="warn" styleClass="w-100 mb-3" text="Session expired, please log in again"></p-message>
        } @if (authState === authStateType.loggedOut) {
        <p-message severity="success" styleClass="w-100 mb-3" text="You have successfully logged out"> </p-message>
        } }
        <!-- Login failure -->
        @if (state().error) {
        <p-message severity="error" text="Unable to log in, please check your username and password"> </p-message>
        }

        <p class="mb-4">Please enter your username and password.</p>

        <p class="p-float-label mb-4" [ngClass]="{ 'p-focus': !!formMain.get('userName')?.value }">
          <input id="userName" class="w-100 p-inputtext p-corner-all p-state-default p-widget" type="text" size="30" pInputText formControlName="userName" />
          <label for="userName">Username</label>
        </p>

        <p class="p-float-label mb-4" [ngClass]="{ 'p-focus': !!formMain.get('userName')?.value }">
          <input
            id="password"
            class="w-100 p-inputtext p-corner-all p-state-default p-widget"
            type="password"
            size="30"
            pInputText
            formControlName="password"
          />
          <label for="password">Password</label>
        </p>

        <label class="form-check-label">
          <input type="checkbox" class="form-check-input remember" formControlName="remember" />
          Remember my username
        </label>

        <p-footer>
          <div class="text-end">
            <button type="submit" class="btn btn-primary" [disabled]="formMain.invalid || state().waiting" [ngClass]="{ 'btn-waiting': state().waiting }">
              <app-icons icon="power-off" class="me-2"></app-icons> Sign In
            </button>
          </div>
        </p-footer>
      </p-card>
    </form>
  </div>
</div>

<app-footer></app-footer>
