<div class="search-group">
  <form (submit)="submit()" name="nav-search">
    <div class="input-group input-group-sm">
      <select
        class="form-control search-option"
        [(ngModel)]="search.type"
        name="type"
      >
        <option selected disabled value="">Search By:</option>
        <option value="TEMP">Loan Number</option>
        <option value="TEMP">First Name</option>
        <option value="TEMP">Last Name</option>
        <option value="TEMP">Email</option>
        <option value="TEMP">SSN</option>
      </select>
      <input
        type="text"
        class="form-control search-field"
        aria-label="Text input with dropdown button"
        [(ngModel)]="search.field"
        name="field"
      />
      <div class="input-group-btn">
        <button
          type="submit"
          class="btn btn-interact"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="fas fa-search white"></i> Search
        </button>
      </div>
    </div>
  </form>
</div>
